#Checkerboard{
    margin-top: 25vmin;
    position: absolute;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: var(--board-size);
    height: var(--board-size);
}

.checkerTile{
    position: relative;
    display: block;
    width: 50px;
    height: 55px;
    margin-bottom: var(--tile-margin);
}

.blankTile{
    position: relative;
    display: block;
    width: 50px;
    height: 55px;
    z-index: -1;
}

#TopTile{
    position: absolute;
    left: 0px;
    width: 55px;
    height: 55px;
    z-index: 1;
}

#BottomTile{
    position: absolute;
    left: 0px;
    width: 110%;
    height: 100%;
    z-index: 0;
}

.topTile{
    position: absolute;
    left: 0;
    top: 0;
}
.bottomTile{
    position: absolute;
    top:0;
    bottom:0;
}