#Checkerboard{
    margin-top: 25vmin;
    position: absolute;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: var(--board-size);
    height: var(--board-size);
}

.checkerTile{
    position: relative;
    display: block;
    width: 50px;
    height: 55px;
    margin-bottom: var(--tile-margin);
}

.blankTile{
    position: relative;
    display: block;
    width: 50px;
    height: 55px;
    z-index: -1;
}

#TopTile{
    position: absolute;
    left: 0px;
    width: 55px;
    height: 55px;
    z-index: 1;
}

#BottomTile{
    position: absolute;
    left: 0px;
    width: 110%;
    height: 100%;
    z-index: 0;
}

#RoyalChar{
    position: absolute;
    z-index: 3;
    width: 45px;
    height: auto;
    left: 2px;
    bottom: 15px;
    pointer-events: none;
    transform: rotate3d(20px, 20px);
}
/* Tiles which can be clicked by user */
/*rect.clickable{
    fill: green;
}*/
.clickableElem{
    position: absolute;
    width: inherit;
    top: 4px;
    height: 38px;
    z-index: 2;
    pointer-events: none;
    animation-name: clickFlashing;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.topTile{
    position: absolute;
    left: 0;
    top: 0;
}
.bottomTile{
    position: absolute;
    top:0;
    bottom:0;
}

@keyframes clickFlashing {
    0% { background-color: rgba(0, 102, 31, 0);}
    50% { background-color: rgba(0, 158, 47, 0.5);}
    100% { background-color: rgba(0, 102, 31, 0);}
    
}